[submodule "ElfLoader"]
	path = ElfLoader
	url = git@github.com:LeanLoad/ElfLoader.git
[submodule "ELFine"]
	path = archive/ELFine
	url = git@github.com:LeanLoad/ELFine.git
[submodule "ElfZoo"]
	path = ElfZoo
	url = https://github.com/LeanLoad/ElfZoo.git
[submodule "WhatTheElf"]
	path = WhatTheElf
	url = https://github.com/LeanLoad/WhatTheElf.git
[submodule "LeanOnWasm"]
	path = archive/LeanOnWasm
	url = git@github.com:ShawnZhong/LeanOnWasm.git
[submodule "third_party/abi/gabi"]
	path = third_party/abi/gabi
	url = https://github.com/xinuos/gabi.git
[submodule "third_party/abi/gnu-gabi"]
	path = third_party/abi/gnu-gabi
	url = git://sourceware.org/git/gnu-gabi.git
[submodule "third_party/abi/linux-abi"]
	path = third_party/abi/linux-abi
	url = https://github.com/hjl-tools/linux-abi
[submodule "third_party/abi/x86-64-abi"]
	path = third_party/abi/x86-64-abi
	url = https://gitlab.com/x86-psABIs/x86-64-ABI.git
[submodule "third_party/lean/lean4-skills"]
	path = third_party/lean/lean4-skills
	url = https://github.com/cameronfreer/lean4-skills.git
[submodule "third_party/lean/fp-lean"]
	path = third_party/lean/fp-lean
	url = https://github.com/leanprover/fp-lean.git
[submodule "third_party/lean/lean4-metaprogramming-book"]
	path = third_party/lean/lean4-metaprogramming-book
	url = https://github.com/leanprover-community/lean4-metaprogramming-book.git
[submodule "third_party/related/daedalus"]
	path = third_party/related/daedalus
	url = https://github.com/GaloisInc/daedalus.git
[submodule "third_party/related/everparse"]
	path = third_party/related/everparse
	url = https://github.com/project-everest/everparse.git
[submodule "third_party/related/formatfuzzer"]
	path = third_party/related/formatfuzzer
	url = https://github.com/uds-se/FormatFuzzer.git
[submodule "third_party/related/kaitai-struct-formats"]
	path = third_party/related/kaitai-struct-formats
	url = https://github.com/kaitai-io/kaitai_struct_formats.git
[submodule "third_party/related/project-everest.github.io"]
	path = third_party/related/project-everest.github.io
	url = https://github.com/project-everest/project-everest.github.io.git
[submodule "third_party/related/vest"]
	path = third_party/related/vest
	url = https://github.com/secure-foundations/vest.git
[submodule "third_party/related/elfsage"]
	path = third_party/related/elfsage
	url = https://github.com/draperlaboratory/ELFSage.git
[submodule "third_party/related/linksem"]
	path = third_party/related/linksem
	url = https://github.com/rems-project/linksem.git
[submodule "third_party/related/cedar-spec"]
	path = third_party/related/cedar-spec
	url = https://github.com/cedar-policy/cedar-spec.git
[submodule "third_party/related/lean4lean"]
	path = third_party/related/lean4lean
	url = https://github.com/digama0/lean4lean.git
[submodule "third_party/related/lnsym"]
	path = third_party/related/lnsym
	url = https://github.com/leanprover/LNSym.git
[submodule "third_party/related/sampcert"]
	path = third_party/related/sampcert
	url = https://github.com/leanprover/SampCert.git
[submodule "third_party/related/veil"]
	path = third_party/related/veil
	url = https://github.com/verse-lab/veil.git
[submodule "third_party/related/sibylfs"]
	path = third_party/related/sibylfs
	url = git@github.com:sibylfs/sibylfs_src.git
[submodule "third_party/related/melkor-elf-fuzzer"]
	path = third_party/related/melkor-elf-fuzzer
	url = git@github.com:IOActive/Melkor_ELF_Fuzzer.git
[submodule "ElfSpec"]
	path = archive/ElfSpec
	url = git@github.com:LeanLoad/ElfSpec.git
