[submodule "ElfLoader"]
	path = ElfLoader
	url = git@github.com:LeanLoad/ElfLoader.git
[submodule "ELFine"]
	path = ELFine
	url = git@github.com:ShawnZhong/ELFine.git
[submodule "ElfZoo"]
	path = ElfZoo
	url = git@github.com:ShawnZhong/ElfZoo.git
[submodule "WhatTheElf"]
	path = WhatTheElf
	url = git@github.com:ShawnZhong/WhatTheElf.git
[submodule "LeanOnWasm"]
	path = LeanOnWasm
	url = git@github.com:ShawnZhong/LeanOnWasm.git
[submodule "third_party/abi/gabi"]
	path = third_party/abi/gabi
	url = https://github.com/xinuos/gabi.git
[submodule "third_party/abi/gnu-gabi"]
	path = third_party/abi/gnu-gabi
	url = git://sourceware.org/git/gnu-gabi.git
[submodule "third_party/abi/linux-abi"]
	path = third_party/abi/linux-abi
	url = https://github.com/hjl-tools/linux-abi
[submodule "third_party/abi/x86-64-abi"]
	path = third_party/abi/x86-64-abi
	url = https://gitlab.com/x86-psABIs/x86-64-ABI.git
[submodule "third_party/lean-ref/lean4-skills"]
	path = third_party/lean-ref/lean4-skills
	url = https://github.com/cameronfreer/lean4-skills.git
[submodule "third_party/lean-ref/fp-lean"]
	path = third_party/lean-ref/fp-lean
	url = https://github.com/leanprover/fp-lean.git
[submodule "third_party/lean-ref/lean4-metaprogramming-book"]
	path = third_party/lean-ref/lean4-metaprogramming-book
	url = https://github.com/leanprover-community/lean4-metaprogramming-book.git
[submodule "third_party/related-parser/daedalus"]
	path = third_party/related-parser/daedalus
	url = https://github.com/GaloisInc/daedalus.git
[submodule "third_party/related-parser/everparse"]
	path = third_party/related-parser/everparse
	url = https://github.com/project-everest/everparse.git
[submodule "third_party/related-parser/kaitai-struct-formats"]
	path = third_party/related-parser/kaitai-struct-formats
	url = https://github.com/kaitai-io/kaitai_struct_formats.git
[submodule "third_party/related-parser/project-everest.github.io"]
	path = third_party/related-parser/project-everest.github.io
	url = https://github.com/project-everest/project-everest.github.io.git
[submodule "third_party/related-parser/vest"]
	path = third_party/related-parser/vest
	url = https://github.com/secure-foundations/vest.git
[submodule "third_party/related-elf/elfsage"]
	path = third_party/related-elf/elfsage
	url = https://github.com/draperlaboratory/ELFSage.git
[submodule "third_party/related-elf/linksem"]
	path = third_party/related-elf/linksem
	url = https://github.com/rems-project/linksem.git
[submodule "third_party/related-elf/minimal-elf"]
	path = third_party/related-elf/minimal-elf
	url = https://github.com/tchajed/minimal-elf
[submodule "third_party/related-elf/veriload"]
	path = third_party/related-elf/veriload
	url = https://github.com/ShawnZhong/VeriLoad.git
[submodule "third_party/related-lean/cedar-spec"]
	path = third_party/related-lean/cedar-spec
	url = https://github.com/cedar-policy/cedar-spec.git
[submodule "third_party/related-lean/lean4lean"]
	path = third_party/related-lean/lean4lean
	url = https://github.com/digama0/lean4lean.git
[submodule "third_party/related-lean/lnsym"]
	path = third_party/related-lean/lnsym
	url = https://github.com/leanprover/LNSym.git
[submodule "third_party/related-lean/sampcert"]
	path = third_party/related-lean/sampcert
	url = https://github.com/leanprover/SampCert.git
[submodule "third_party/related-lean/veil"]
	path = third_party/related-lean/veil
	url = https://github.com/verse-lab/veil.git
[submodule "third_party/impl-loader/glibc"]
	path = third_party/impl-loader/glibc
	url = https://sourceware.org/git/glibc.git
[submodule "third_party/impl-loader/musl"]
	path = third_party/impl-loader/musl
	url = https://github.com/kraj/musl.git
[submodule "third_party/impl-tool/binutils-gdb"]
	path = third_party/impl-tool/binutils-gdb
	url = https://sourceware.org/git/binutils-gdb.git
[submodule "third_party/impl-tool/llvm-project"]
	path = third_party/impl-tool/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "third_party/impl-tool/patchelf"]
	path = third_party/impl-tool/patchelf
	url = https://github.com/NixOS/patchelf.git
[submodule "third_party/impl-tool/pax-utils"]
	path = third_party/impl-tool/pax-utils
	url = https://github.com/gentoo/pax-utils.git
[submodule "third_party/impl-tool/go"]
	path = third_party/impl-tool/go
	url = https://github.com/golang/go.git
[submodule "third_party/impl-lib/elfutils"]
	path = third_party/impl-lib/elfutils
	url = https://sourceware.org/git/elfutils.git
[submodule "third_party/impl-lib/lief"]
	path = third_party/impl-lib/lief
	url = https://github.com/lief-project/LIEF.git
[submodule "third_party/impl-lib/elfio"]
	path = third_party/impl-lib/elfio
	url = https://github.com/serge1/ELFIO.git
[submodule "third_party/impl-lib/gimli-object"]
	path = third_party/impl-lib/gimli-object
	url = https://github.com/gimli-rs/object.git
[submodule "third_party/impl-parser/pyelftools"]
	path = third_party/impl-parser/pyelftools
	url = https://github.com/eliben/pyelftools.git
