[submodule "ElfLoader"]
	path = ElfLoader
	url = ../ElfLoader
[submodule "third_party/linksem"]
	path = third_party/linksem
	url = https://github.com/rems-project/linksem.git
[submodule "third_party/ELFSage"]
	path = third_party/ELFSage
	url = https://github.com/draperlaboratory/ELFSage.git
[submodule "third_party/gabi"]
	path = third_party/gabi
	url = https://github.com/xinuos/gabi.git
[submodule "third_party/x86-64-ABI"]
	path = third_party/x86-64-ABI
	url = https://gitlab.com/x86-psABIs/x86-64-ABI.git
[submodule "third_party/cedar-spec"]
	path = third_party/cedar-spec
	url = https://github.com/cedar-policy/cedar-spec.git
[submodule "third_party/SampCert"]
	path = third_party/SampCert
	url = https://github.com/leanprover/SampCert.git
[submodule "third_party/LNSym"]
	path = third_party/LNSym
	url = https://github.com/leanprover/LNSym.git
[submodule "third_party/lean4lean"]
	path = third_party/lean4lean
	url = https://github.com/digama0/lean4lean.git
[submodule "third_party/veil"]
	path = third_party/veil
	url = https://github.com/verse-lab/veil.git
[submodule "third_party/VeriLoad"]
	path = third_party/VeriLoad
	url = https://github.com/ShawnZhong/VeriLoad.git
[submodule "third_party/musl"]
	path = third_party/musl
	url = https://github.com/kraj/musl.git
[submodule "third_party/gnu-gabi"]
	path = third_party/gnu-gabi
	url = git://sourceware.org/git/gnu-gabi.git
[submodule "third_party/linux-abi"]
	path = third_party/linux-abi
	url = https://github.com/hjl-tools/linux-abi
[submodule "third_party/glibc"]
	path = third_party/glibc
	url = https://sourceware.org/git/glibc.git
[submodule "third_party/minimal-elf"]
	path = third_party/minimal-elf
	url = https://github.com/tchajed/minimal-elf
[submodule "third_party/elfutils"]
	path = third_party/elfutils
	url = https://sourceware.org/git/elfutils.git
[submodule "third_party/lean4-skills"]
	path = third_party/lean4-skills
	url = https://github.com/cameronfreer/lean4-skills.git
[submodule "ELFine"]
	path = ELFine
	url = ../ELFine
[submodule "ElfZoo"]
	path = ElfZoo
	url = ../ElfZoo
[submodule "WhatTheElf"]
	path = WhatTheElf
	url = ../WhatTheElf
[submodule "LeanOnWasm"]
	path = LeanOnWasm
	url = ../LeanOnWasm
